.searchInput {
    margin-bottom: 40px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
    border: 2px solid #9AD0DA;
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #9AD0DA;
    color: #fff;
    padding: 2px 8px;
    font-size: 16px;
    white-space: nowrap;
    z-index: 10;
    margin-bottom: 5px;
}

.iconContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    flex: 0 0 200px;
}

.iconImage {
    width: 16px;
    height: 16px;
}